* {
    box-sizing: border-box;
}

body {
    height: -webkit-fill-available;
}

main {
    height: -webkit-fill-available;
}

select:invalid { 
    color: gray; 
}

#bookmark-rating {
    width: 80px;
}

.checked {
    color: orange;
}

main {
    display: flex;
    justify-content: center;
}

.container {
    width: 50vw;
    text-align: center;
}

ul {
    list-style: none;
}

li {
    border: solid thin grey;
    margin: 30px
}

.bookmark-details {
    text-align: start;
    margin-left: 1em;
}

#bookmark-title {
    margin-top: 1em;
}

.bookmark-description {
    display: inline-block;
    cursor: pointer;
}

.add-bookmark-btn {
    height: 3em;
    width: 9em;
    margin-right: 3em;
}

.delete-btn {
    background-color: rgba(0, 0, 0, 0.0);
    border: none;
    cursor: pointer;
}
