* {
    box-sizing: border-box;
}

body, html {
    height: -webkit-fill-available;
    
}

main {
    height: -webkit-fill-available;
}

select:invalid { 
    color: gray; 
}

#bookmark-rating {
    width: 80px;
}

.checked {
    color: orange;
}

main {
    display: flex;
    justify-content: center;
}

.container {
    width: 50vw;
    text-align: center;
}
h1 {
    font-family: 'Anton', sans-serif;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    border: solid thin grey;
    margin: 30px
}

form button {
    display: inline-block
}

textarea {
    height: 120px;
    width: 450px;
    margin-top: 10px;
}

.bookmark-details {
    text-align: start;
    margin-left: 1em;
}

#bookmark-title {
    margin-top: 1em;
}

.bookmark-description {
    display: inline-block;
    cursor: pointer;
}

.add-bookmark-btn {
    height: 3em;
    width: 9em;
    margin-right: 3em;
    font-family: 'Anton', sans-serif;
}

.delete-btn {
    background-color: rgba(0, 0, 0, 0.0);
    border: none;
    cursor: pointer;
}

a {
    display: flex;
    justify-items: left;
    margin-left: 1.1em;
}

@media only screen and (max-width: 320px) {
    .add-bookmark-btn {
        margin-right: 0;
    }

    #bookmark-rating {
        width: auto;
    }

}


@media only screen and (max-width: 600px) {
    main, textarea {
        width: auto;
        overflow: auto;

    }

    .container {
        width: 80vw;
    }

}

@media only screen and (max-height: 1000px) {
  body, html {
    height: auto;
    overflow: auto;
  }
}